html{ height:100%; }

body {
  background-image: none;
  background: #f1f1f1; /* Old browsers */
  background: -moz-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1f1f1 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1f1f1 0%,#dbdbdb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1f1f1 0%,#dbdbdb 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f1f1f1 0%,#dbdbdb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
  margin: 0;
  min-height: 100%;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.mobile {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
}

body.mobile #title, body.mobile #footer .visit, body.mobile #footer .choose-view, body.mobile #footer #devices-button {
  display: none !important;
}

body.ambient #footer {
  display: none !important;
}

body.mobile .person {
  position: relative;
  margin: 0 auto;
  margin-bottom: 90px;
  display: block;
}

body.mobile #people {
  margin-top: 110px;
  padding-bottom: 500px;
}

body.people, body.devices {
  background: #636363; /* Old browsers */
  background-image: url(bg.png);
  background-position: 0% 0%;
}

#mobile-home {
  position: fixed;
  display: none;
  width: 100%;
}

#mobile-menu {
  width: 100%;
  
  -webkit-box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.2);
}

#mobile-menu .selector {
  background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(217,217,217,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(217,217,217,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(217,217,217,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(217,217,217,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(217,217,217,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(217,217,217,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#66d9d9d9',GradientType=0 ); /* IE6-9 */
  
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  color: white;
  line-height: 40px;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
  
  border-top: 1px solid rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(32, 31, 37, .15);
}

#mobile-menu .selector:hover {
  background: -moz-linear-gradient(top, rgba(255,255,255,0.85) 0%, rgba(217,217,217,0.85) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(100%,rgba(217,217,217,0.85))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 0%,rgba(217,217,217,0.85) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0.85) 0%,rgba(217,217,217,0.85) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0.85) 0%,rgba(217,217,217,0.85) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0.85) 0%,rgba(217,217,217,0.85) 100%); /* W3C */
  color: black;
  text-shadow: none;
}

#connect-button {
  display: none;
  text-align: center;
  height: 300px;
  margin-top: 60px;
}

#connect-button .outer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  float: center;
  margin: 0 auto;
  border: 10px solid white;
  opacity: 0.5;
}

#connect-button .inner {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  z-index: 1000;
  float: center;
  margin: 0 auto;
  position: relative;
  top: -75px;
  opacity: 0.3;
}

#connect-button .label {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  font-style: italic;
  top: -20px;
}

#connect-button .label .h {
  font-weight: 500;
}

#whos-here {
  display: none;
}

#header {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-left: 15px;
  font-weight: 300;
  color: white;
  font-size: 30px;
  line-height: 80px;
  background: -moz-linear-gradient(top, #2f2e34 0%, #1e1d23 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2e34), color-stop(100%,#1e1d23)); /* Chrome,Safari4+ */
  display: none;
}

#header a {
  text-decoration: none;
}

body.mobile #header {
  height: auto;
  font-size: 24px;
  line-height: 30px;
  padding: 15px;
  position: fixed;
}

#header .welcome { font-style: italic; }
#header .space-name { font-weight: 600; }
#header .reely { color: #ff6900; font-weight: 600; }
#header .active { color: #0770a2; font-weight: 600; }
#header .smart-space { color: white; font-style: italic; font-weight: 700; }

#title {
  position: absolute;
  z-index: 9;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  top: 90px;
  left: 15px;
  font-weight: 300;
  color: white;
  opacity: 0.8;
  display: none;
}

#loading {
  position: absolute;
  z-index: 9;
  display: block;
  font-size: 60px;
  line-height: 60px;
  top: 40%;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  color: #515151;
  opacity: 0.3;
}

body.people #loading, body.devices #loading {
  color: white;
}

#footer {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  color: #959595;
  font-weight: 300;
  font-style: italic;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #dbdbdb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
  display: none;
  text-align: right;
}

body.mobile #footer {
  font-size: 30px;
  line-height: 60px;
  height: 60px;
  white-space: nowrap;
  top: 0;
}

#footer .visit {
  display: none;
  margin-left: 15px;
}

#footer .button {
  background: #ffce57; /* Old browsers */
  background: -moz-linear-gradient(top, #ffce57 0%, #ffb541 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffce57), color-stop(100%,#ffb541)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffce57 0%,#ffb541 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffce57 0%,#ffb541 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffce57 0%,#ffb541 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffce57 0%,#ffb541 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffce57', endColorstr='#ffb541',GradientType=0 ); /* IE6-9 */
  height: 80px;
  display: inline-block;
  width: 200px;
  font-weight: 300;
  border-right: 1px solid #ffb541;
  border-left: 1px solid #ffda85;
  color: #83550c;
  text-shadow: 1px 1px #ffcd87;
  text-align: center;
}

body.mobile #footer .button {
  height: 60px;
  width: 50%;
  font-weight: 400;
}

#footer .button:hover {
  color: black;
  cursor: pointer;
}

#footer .button.selected {
  background: #e09115; /* Old browsers */
  background: -moz-linear-gradient(top, #e09115 0%, #ffa82b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e09115), color-stop(100%,#ffa82b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e09115 0%,#ffa82b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e09115 0%,#ffa82b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e09115 0%,#ffa82b 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e09115 0%,#ffa82b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09115', endColorstr='#ffa82b',GradientType=0 ); /* IE6-9 */
  color: white;
  text-shadow: 1px 1px #c77900;
}

#footer .button.selected.left {
  border-right: 1px solid #e09215;
}

#footer .button.left {
  margin-left: 15px;
}

#footer .button.right {
  border-right: none;
}

#footer .button.selected.right {
  border-left: 1px solid #e09215;
}

#footer .button.selected:hover {
  color: white;
}

#footer .url {
  color: black;
  font-style: normal;
  font-weight: 400;
}

#footer .highlight {
  color: black;
}

body.mobile #footer .button {
  margin: 0 !important;
}

.faded {
  opacity: 0.5;
}

.person {
  z-index: 10;
  position: absolute;
  text-align: center;
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(dummy-avatar.png);
}

body.desktop .person {
  left: -1000px;
  top: -1000px;
}

.device {
  display: none;
}

.hidden {
  display: none !important;
}

.big {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 30px;
}

.medium {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 20px;
}

.small {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 15px;
}

.smaller {
  width: 130px;
  height: 130px;
  border-radius: 130px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 13px;
}

.tiny {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 11px;
}

.tinier {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 9px;
}

.puny {
  width: 75px;
  height: 75px;
  border-radius: 75px;
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 8px;
}

.person.hover {
  border-color: rgba(255, 255, 255, 0.4);
}

.label {
  color: white;
  position: relative;
  float: center;
}

.label .name {
  font-weight: 600;
}

.label .company {
  font-weight: 300;
}

.big .label { top: 335px; font-size: 24px; line-height: 24px; }
.big .label .company { font-size: 20px; }

.medium .label { top: 225px; font-size: 20px; line-height: 20px; }
.medium .label .company { font-size: 16px; }

.small .label { top: 170px; font-size: 16px; line-height: 16px; }
.small .label .company { font-size: 14px; }

.smaller .label { top: 148px; font-size: 16px; line-height: 16px; }
.smaller .label .company { font-size: 14px; }

.tiny .label { top: 125px; font-size: 14px; line-height: 14px; }
.tiny .label .company { font-size: 12px; }

.tinier .label { top: 104px; font-size: 14px; line-height: 14px; }
.tinier .label .company { font-size: 12px; }

.puny .label { top: 85px; font-size: 12px; line-height: 12px; }
.puny .label .company { font-size: 10px; }

.dummy {
  display: none !important;
}

.icon {
  display: none;
  position: absolute;
  font-weight: 800;
  text-decoration: none !important;
  color: black !important;
}

.icon:not(.twitter-icon) {
  background-color: white;
}

.icon:not(.twitter-icon):hover, .icon:not(.twitter-icon).active {
  box-shadow: none;
  background: #676767; /* Old browsers */
  background: -moz-linear-gradient(top, #676767 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676767), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #676767 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #676767 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #676767 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #676767 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676767', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  color: white !important;
}

.twitter-icon {
  background-image: url(twitter.png);
  background-size: 100%;
}

.twitter-icon:hover, .twitter-icon.active {
  background-image: url(twitter-hover.png);
}

.linkedin-icon {
  background-image: url(linkedin.png);
  background-size: 100%;
}

.linkedin-icon:hover, .linkedin-icon.active {
  background-image: url(linkedin-hover.png);
}

.icon:hover {
  cursor: pointer;
}

#overlay {
  position: fixed;
  display: block;
  width: 300px;
  background-color: white;
  z-index: 1000;
  opacity: 0.8;
  display: none;
}

#overlay iframe {
  width: 100%;
  border: 0;
  height: 600px;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

#arrow {
  width: 0; 
	height: 0;
	position: fixed;
	top: 300px;
	left: 500px;
	z-index: 1000;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	opacity: 0.8;
	display: none;
}

#overlay .loading {
  font-size: 24px;
  font-style: italic;
  margin: 15px;
}


#overlay .header {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 10px;
  padding-bottom: 0;
  line-height: 18px;
  display: none;
}

#overlay .header .name {
  font-weight: 600;
  font-style: normal;
  display: inline;
}

.twitter .bio {
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
  padding: 10px;
  padding-bottom: 0px;
  font-weight: 400;
  font-style: italic;
}

.dummy-tweet, .dummy-job {
  display: none;
}

.tweet {
  border-radius: 10px;
  background-color: #e0e0e0;
  margin: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  padding: 5px;
  padding-bottom: 0;
  font-weight: 600;
}

.twitter {
  display: none;
}

.tweet a {
  font-style: italic;
  color: black;
  font-weight: 700;
}

.twitter .bio a {
  font-weight: 600;
  color: black;
}

.tweet a.timestamp {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  margin-top: 3px;
  font-weight: 400;
  font-style: italic;
  display: block;
  color: black;
  color: #4d4d4d;
}

.tweet a.timestamp:hover {
  color: black;
}

#overlay a {
  text-decoration: none;
}

#overlay a:hover {
  text-decoration: underline;
}

#company-link {
  width: 100%;
  text-align: center;
  display: none;
}

#company-logo {
  max-width: 280px;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.new-window {
  display: inline-block;
  width: 25px;
  height: 25px;
  position: relative;
  top: -5px;
  right: -4px;
  background-image: url(new-window.png);
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  opacity: 0.7;
}

#overlay .header:hover .new-window {
  opacity: 1.0;
}

a#permalink {
  color: black;
}

#place {
  margin-top: 90px;
  display: none;
}

body.mobile #place {
  background-color: #ededed;
  margin-top: 60px;
  min-height: 1000px;
}

.spin-loader {
  text-align: center;
  display: none;
  margin-top: 60px;
}

body.mobile #place .spin-loader {
  display: block;
}

#place .header {
  color: #1f1e24;
}

#social-scene-container .header {
  padding-left: 10px;
}

body.mobile #social-scene-container .header {
  padding: 0;
}

#place .header .title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 24px;
  text-shadow: 1px 1px white;
}


body.mobile #place .header .title {
  display: none;
}

#place .header .description {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #3e3d44;
  white-space: nowrap;
  overflow-y: hidden;
}

body.mobile #place .header .description {
  font-size: 24px;
  line-height: 30px;
  padding: 3%;
  white-space: normal;
}

#social-scene-container, #trending-container, #news-container {
  display: inline-block;
  vertical-align: top;
}

body.mobile #trending-container, body.mobile #news-container {
  display: none;
}

#trending-container {
  margin-right: 10px;
  margin-left: 5px;
}

#trending-container .header {
  padding-right: 20px;
}

#news-container {
  margin-left: 5px;
}

.social-item {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: black;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  vertical-align: top;
}

body.mobile .social-item {
  width: 94%;
  margin: 3%;
  margin-top: 0;
  height: auto;
  font-size: 18px;
  line-height: 20px;
}

body.mobile .social-item.photo {
  height: 320px;
}

a.social-item {
  text-decoration: none;
  color: black;
}

.social-item.green {
  background-color: #cee174;
}

.social-item.red {
  background-color: #f79078;
}

.social-item.orange {
  background-color: #ffbc66;
}

.social-item.purple {
  background-color: #d0afef;
}

.social-item.blue {
  background-color: #89d3f5;
}

.social-item.photo {
  background-size: cover;
}

.social-item .from, .social-item .via {
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  color: white;
  font-style: italic;
  line-height: 14px;
  padding: 5px;
  position: absolute;
  white-space: nowrap;
}

body.mobile .social-item .from, body.mobile .social-item .via {
  line-height: 18px;
}

.social-item.photo .from, .social-item.photo .via {
  background-color: rgba(0, 0, 0, 0.5);
}

.social-item .from {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  top: 0;
  left: 0;
  font-weight: 600;
}

.social-item .via {
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  bottom: 0;
  right: 0;
  font-weight: 300;
  display: none;
}

.social-item .via .user {
  font-weight: 600;
}

.social-item .content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  font-weight: 500;
  padding: 10px;
  overflow-x: hidden;
}

body.mobile .social-item .content {
  top: 0;
  transform: none;
  -webkit-transform: none;
  padding-top: 35px;
  padding-bottom: 35px;
}

.social-item.photo .content, body.mobile .social-item.photo .content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  transform: none;
  -webkit-transform: none;
  position: absolute;
  top: auto;
  bottom: 0;
  padding: 10px;
  text-shadow: 1px 1px black;
}

body.mobile .social-item.photo .content {
  top: 0;
  bottom: auto;
  padding-top: 35px;
}

.social-item.photo.retweet .content {
  padding-bottom: 28px !important;
}

body.mobile .social-item.photo.retweet .content {
  padding-bottom: 10px !important;
}

.social-item a {
  text-decoration: none;
  color: inherit;
  text-shadow: none;
  font-weight: 600;
  font-style: italic;
}

.social-item a:hover {
  text-decoration: underline;
}

#trending .trending-topic a.text {
  display: inline-block;
  margin-top: 10px;
  background-color: #d1d1d1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
  color: #1f1e24;
  text-decoration: none;
}

#trending .trending-topic .hash {
  color: #999999;
}

#trending .trending-topic .text:hover {
  background-color: #a3a3a3;
  color: white;
  cursor: pointer;
}

#trending .trending-topic .text:hover .hash {
  color: #d0d0d0;
}

#news-container {
  width: 350px;
}

#newsfeed {
  overflow-y: scroll;
  width: 100%;
  display: inline-block;
  height: 200px;
}

#newsfeed .tweet a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

#newsfeed .tweet a:hover {
  text-decoration: underline;
}

#newsfeed .tweet a.timestamp {
  font-weight: 300;
}

#newsfeed .tweet {
  background-color: #dbdbdb;
  margin-left: 0;
  font-weight: 500;
  color: black;
}

#noticeboard-container {
  margin-top: 10px;
  margin-right: 10px;
}

#noticeboard-container .button {
  font-size: 14px;
  line-height: 14px;
  color: #9d5800;
  font-style: italic;
  display: inline-block;
  float: right;
  padding: 5px 10px;
  margin-top: 22px;
  margin-left: 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffbc66; /* Old browsers */
  background: -moz-linear-gradient(top, #ffbc66 0%, #f6a640 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbc66), color-stop(100%,#f6a640)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffbc66 0%,#f6a640 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffbc66 0%,#f6a640 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffbc66 0%,#f6a640 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffbc66 0%,#f6a640 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc66', endColorstr='#f6a640',GradientType=0 ); /* IE6-9 */
}

#noticeboard-container .button.cancel, #noticeboard-container .button.post {
  display: none;
}

#noticeboard-container .button.cancel {
  background: #d8d8d8; /* Old browsers */
  background: -moz-linear-gradient(top, #d8d8d8 0%, #b2b2b2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#b2b2b2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d8d8d8 0%,#b2b2b2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d8d8d8 0%,#b2b2b2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d8d8d8 0%,#b2b2b2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #d8d8d8 0%,#b2b2b2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */
  color: #686868;
}

#noticeboard-container .button:hover {
  box-shadow: 0px 0px 7px #fff;
  color: black;
  cursor: pointer;
}

#notices, #notice-form {
  height: 120px;
  background-color: #ffe65b;
  margin-top: 10px;
  padding: 2%;
  font-size: 22px;
  line-height: 24px;
  font-style: italic;
}

#notices {
  opacity: 0.8;
}

#notices .notice {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  display: none;
}

#notices.empty .notice {
  display: block;
  color: #767676;
}

#notice-form {
  display: none;
  font-family: 'Open Sans', sans-serif;
  width: 96%;
  border: 0;
}

textarea, input { outline: none; }

#notices.empty {
  background-color: #cacaca;
}

#iframe {
  display: none;
}

#svg {
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  z-index: 0;
  width: 1000px;
  height: 1000px;
}

.connectionLabel {
  position: absolute;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
  color: black;
  background-color: white;
  border-radius: 3px;
  padding: 2px;
  z-index: 2;
  opacity: 1.0;
  -webkit-transform: translate(-50%, -50%);
}

.receiver-node {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffa200;
  position: absolute;
  opacity: 0;
}

.device-node {
  position: absolute;
}

.device-node-dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
  opacity: 0;
}

.device-node-label {
  float: left;
  position: relative;
  left: 10px;
  top: -8px;
  line-height: 12px;
  opacity: 0;
  color: white;
  font-size: 12px;
}

#detection-text {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  line-height: 30px;
  display: none;
  color: white;
  width: 100%;
}

.sensors-text, .looking-text, .devices-text, .people-text {
  width: 100%;
  display: block;
  opacity: 0;
  margin-bottom: 5px;
}

.show-context {
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  color: black;
  font-style: italic;
  opacity: 0;
  background: #ffdc5e; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffdc5e 0%, #ffb032 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc5e), color-stop(100%,#ffb032)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffdc5e 0%,#ffb032 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffdc5e 0%,#ffb032 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffdc5e 0%,#ffb032 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffdc5e 0%,#ffb032 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc5e', endColorstr='#ffb032',GradientType=0 ); /* IE6-9 */
}

.context {
  font-weight: bold;
}

.show-context:hover {
  -webkit-box-shadow: 0px 0px 17px 2px rgba(255,255,255,0.4);
  -moz-box-shadow: 0px 0px 17px 2px rgba(255,255,255,0.4);
  box-shadow: 0px 0px 17px 2px rgba(255,255,255,0.4);
  cursor: pointer;
  opacity: 0.9;
}

#graph-svg {
    height: 100vh;
    width: 100vw;
}